header.header
    nav.header__nav
        ul.header__nav__items
            li.header__nav-item
                a(href="#") logo
            li.header__nav-item
                a(href="#") Home
            li.header__nav-item
                a(href="#") Destination
            li.header__nav-item
                a(href="#") Near me
            li.header__nav-item
                a(href="#") Events
            li.header__nav-item
                a(href="#") Blog
            li.header__nav-item
                a(href="#") Gallery
            li.header__nav-item
                a(href="#") About
            li.header__nav-item
                a(href="#") Contact us

        ul.header__nav__buttons
            li.header__nav-item
                a(href="#") Sign up
            li.header__nav-item
                a(href="#") Sign in
