* {
    font-family: 'Oxygen', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 1260px;
    height: 886px;
    background-image:url(./../img/Background.png);
    background-repeat: no-repeat;
    
}

.main__img {
    margin-top: 66px;
}

.main__title {
    display: block;
    margin-top: 83px;
    width: 623px;
    font-size: 39px;
    color: white;
}


