* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 1920px;
    margin: 0 auto;
}


//Bloks
@import "./blocks/header"







//font-family: 'Exo 2', sans-serif;
//font-family: 'Montserrat', sans-serif;
//font-family: 'Playfair Display', serif;

